*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monoespace;
}

body {
    background-image: linear-gradient(to bottom, rgb(241, 91, 91), rgba(255, 123, 0, 0.671));
    background-size: cover;
    height: 100vh; 
}

.color {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculadora {
    width: 415px;
    display: inline-block;
    padding: 40px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.555);
    box-shadow: -6px -6px 6px #fff, 11px 11px 21px -8px #000;  
}

.calculadora input {
    width: 93%;
    height: 45px;
    margin: 8px;
    border-radius: 20px;
    font-size: 34px;
    text-align: end;
    border: 0;
    outline: 0;
    background-color: #e9e9e9;
    box-shadow: -5px -5px 6px #fff inset, 5px 11px 17px -13px #000 inset;  

}
button {
    border-radius: 50px;
    font-size: 28px;
    font-weight: 500;
    background-color: #e9e9e9;
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 0;
    box-shadow: -6px -6px 9px #fff , 11px 11px 21px -8px #000;
    cursor: pointer;
    outline: 0;
}

button:hover {
    background-color: #d6d6d6;
}
.zero {
    width: 145px;
}

 p {
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    box-shadow: 5px 5px 10px rgba(255,255,255, 0.600);
    transition: transform .5s;
}


